@model Enrollment
@{
    ViewData["Title"] = "Registration";
}


<div>
    <form id="regForm" enctype="multipart/form-data" method="post">
       <div asp-validation-summary="ModelOnly"></div>
        <h1>Register:</h1>
        <fieldset>
            <legend> Personal Details:  </legend>
            <div class="row">
                <div class="col-md-6">
                    <input placeholder="First name..." class="form-control enrollInput" asp-for="Name">
                    <input placeholder="Contact Number..." class="form-control enrollInput" asp-for="ContactNumber">
                    <input placeholder="Father's name..." class="form-control enrollInput" asp-for="Father">
                    <span asp-validation-for="Father"></span>
                </div>
                <div class="col-md-6">
                    <input placeholder="Date of Birth..." class="form-control enrollInput" asp-for="DOB" type="date">
                    <input placeholder="Email..." class="form-control enrollInput" asp-for="Email">
                    <input placeholder="Father's Contact Number..." class="form-control enrollInput" asp-for="Mobile">
                    <span asp-validation-for="Mobile"></span>
                </div>

            </div>
        </fieldset>
        <fieldset>
            <legend> Contact Details:  </legend>
            <div class="row">
                <div class="col-md-6">
                    Parmanent Address :
                    <input placeholder="Address..." class="form-control enrollInput" asp-for="ParmanentAddress.Address_">
                    <span asp-validation-for="ParmanentAddress.Address_"></span>
                    <input placeholder="State..." class="form-control enrollInput" asp-for="ParmanentAddress.State">
                    <span asp-validation-for="ParmanentAddress.State"></span>
                    <input placeholder="City..." class="form-control enrollInput" asp-for="ParmanentAddress.City">
                    <span asp-validation-for="ParmanentAddress.City"></span>
                    <input placeholder="Pincode..." class="form-control enrollInput" asp-for="ParmanentAddress.Pincode">
                    <span asp-validation-for="ParmanentAddress.Pincode"></span>
                </div>
                <div class="col-md-6">
                    Correspondance Address If Available :
                    @*<input class="address" asp-for="SameAsParmanent">Same As Parmanent Address*@
                    <input placeholder="Address..." class="form-control enrollInput" asp-for="CorrespondanceAddress.Address_">
                    <input placeholder="State..." class="form-control enrollInput" asp-for="CorrespondanceAddress.State">
                    <input placeholder="City..." class="form-control enrollInput" asp-for="CorrespondanceAddress.City">
                    <input placeholder="Pincode..." class="form-control enrollInput" asp-for="CorrespondanceAddress.Pincode">
                </div>
            </div>
        </fieldset>

            @*public Programm Program { get; set; }
        public RequiredSubject RequiredSubject { get; set; }
        public OptionalSubject OptionalSubject { get; set; }*@
        <fieldset>
            <legend> Personal Details:  </legend>
                <div class="row">
                    <div class="col-md-12">
                        Programm:
                        <input value="BCA" class="form-control enrollInput" asp-for="Programm" disabled>

                        @*@{
            SelectList yearSelectList = new SelectList(Model.ExameCenterCh1, "Id", "Description");
        }*@
                        @*@Html.DropDownListFor("dd1",m => m.ExameCenterCh1, Model.ExameCenterCh1)*@
                        @*@Html.DropDownList("MySkills", new SelectList(Model.ExameCenterCh1, "Value", "Text"))*@
                        @*<select asp-for="ExameCenterCh1"
                asp-items="Html.GetEnumSelect>" class="form-control"></select>
        <select>*@      
                        <label >Choose your Exam Center :</label>
                        <select name="ExameCenterCh1">
                            @{
                                bool flag = true;
                                foreach (ExameCenter center in Model.ExameCenterCh1)
                                {
                                    if (flag)
                                    {
                                        <option selected>@center.CenterName</option>
                                        flag = false;
                                    }
                                    else{
                                        <option>@center.CenterName</option>
                                    }
                                }
                            }
                        </select>
                        <select name="ExameCenterCh2">
                            @{
                                flag = true;
                                foreach (ExameCenter center in Model.ExameCenterCh2)
                                {
                                    if (flag)
                                    {
                                        <option >@center.CenterName</option>
                                        flag = false;
                                    }
                                    else
                                    {
                                        <option>@center.CenterName ll</option>
                                    }
                                }
                            }
                        </select>
                        <select name="ExameCenterCh3">
                            @{
                                flag = true;
                                foreach (ExameCenter center in Model.ExameCenterCh3)
                                {
                                    if (flag)
                                    {
                                        <option selected>@center.CenterName kk</option>
                                        flag = false;
                                    }
                                    else
                                    {
                                        <option>@center.CenterName</option>
                                    }
                                }
                            }
                        </select>
                    </div>
            </div>
        </fieldset>
        <fieldset>
            <legend> Documents Upload:  </legend>
            <div class="row">
                <div class="col-md-12">

                    <input placeholder="Profile" class="form-control  custom-file-input enrollInput" type="file" asp-for="Profile">
                    <span asp-validation-for="Profile"></span>
                    <input placeholder="Signature" class="form-control  custom-file-input enrollInput" type="file" asp-for="Signature">
                    <span asp-validation-for="Signature"></span>

                    <input type="submit" value="Register" class="form-control btn btn-success " >
                </div>
            </div>
        </fieldset>
</form>
</div>
